[2017-06-05 05:33] fiser321 opened #2 "deploy?"
hi, Can you provide a detailed deployment document?
 It's best to use a database case to deploy and explain as you can, and tell us how to use it
thank you！！！

[2017-06-05 09:51] liufengcai opened #3 "How ottertune is deployed ?"
I am very interested in ottertune, view the relevant documents, but I do not know how to use, can provide detailed installation using documentation. Thank you.

[2017-06-05 21:33] gadcam commented on #3
Duplicate of #2.

[2017-06-05 21:55] berlincount commented on #2
I'd also love a complete end-to-end example on how a test setup for MySQL would look like, and expected to be used.

e.g. given a MySQL backup ready to be restored and a stream of example, real-life queries ready to be streamed to it, what kind of scaffolding or wrapping would need to be used to get the recommended configuration settings to be ported back to the actual production systems look like

[2017-06-06 02:27] remingtonc opened #4 "Ease in adapting to TSDB DBMS?"
Currently MySQL, PostgreSQL, and Actian Vector are supported based on [the whitepaper](http://db.cs.cmu.edu/papers/2017/p1009-van-aken.pdf), can you theorize difficulty in application to TSDB tunings like [OpenTSDB](http://opentsdb.net), [InfluxDB](https://github.com/influxdata/influxdb), etc.?

[2017-06-06 22:45] #3 closed

[2017-06-06 23:03] dvanaken commented on #2
Thanks for your interest in OtterTune! I'll be back working on the [deployment code](https://github.com/oltpbenchmark/website.git) in a day or two. The code in this branch only contains the ML libraries that are used by the deployment code. That's where the deployment instructions will be located as well, once written.

[2017-06-07 11:49] sahubharat25 opened #5 "How we can install this tool and can we use for mysql"
Hi ,

Is ottertune is ready for production use.

[2017-06-13 21:14] dvanaken commented on #4
OtterTune's optimization techniques are general and I think that it would be straightforward to support tuning TSDBs. During a tuning session, the only information that OtterTune collects from the DBMS is its current configuration and internal runtime metrics. We use [OLTPBench](https://github.com/oltpbenchmark/oltpbench.git) to automate the collection of this information as well as the benchmark/

[2017-06-14 02:36] dvanaken commented on #5
At this point, OtterTune is more of a prototype because there are some aspects of its capabilities that may limit its usefulness in a production setting. Here are some of the problems I'm working on solving:

1. OtterTune requires the user to list the hardware that the DBMS is deployed on. In our paper, what OtterTune collected was the EC2 instance type. This is a problem because we do not want (1

[2017-06-21 13:41] tomzhang commented on #2
any update for this info?

[2017-06-27 06:34] azman0101 commented on #2
Hello, I've made a Dockerfile and docker-compose.yml files to ease the running of https://github.com/oltpbenchmark/website.git

But I don't see how to "connect" it with this project.

[2017-07-10 03:37] lilf opened #6 "there is missing some file in code"
hi, i read your code and found some file missing,for example, analysis.preprocessing

there exists

from .util import NEARZERO
from common.typeutil import is_numeric_matrix, is_lexical_matrix

but i can't find file util  and typeutil

[2017-07-12 06:22] zxsimple opened #7 "What's your plan about open source this project"
@dvanaken , it is so excited you make this project open source, according to the article [https://aws.amazon.com/cn/blogs/ai/tuning-your-dbms-automatically-with-machine-learning/](url) the OtterTune project consists of several module like Tuning Manager， JDBC Manager and so on. It seems the current release is incomplete, we can't run a complete scenario with OtterTunne and the Website project.
You

[2017-07-12 13:33] apavlo commented on #7
@zxsimple Thanks for your interest. We are working on tying together the different pieces and providing documentation on how to use the system. Everything will be posted here on Github.

[2017-07-13 01:17] zxsimple commented on #7
Wonderful, looking forward the next release.

[2017-07-13 01:17] #7 closed

[2017-08-05 23:07] ivanbaldo commented on #5
Regarding point 1:
What information does OtterTune require?
I think that it could have different providers, one being manual input (a file for example), another SSH access, and maybe other through JDBC "probing" things as you mention.

Regarding point 2:
It would be very nice that OtterTune estimated the time required for recovery and the user just simply put an upper limit on recovery time, but a

[2017-10-12 23:33] vmohan83 commented on #5
I would like to appreciate and thank you for the tool. I understand, it is not currently available for production use due to some limitations. I would like to try this tool. the source code are available in GIT,   I have gone through paper, its a great one which provides very useful insight of the tool but couldn't find any detailed steps for trying out. Do you have any reference for this?

[2017-10-24 14:17] oyb001 commented on #6
@dvanaken ,The following code statement fails to execute because the file is missing, please provide a file to run.
Thanks!
from .util import stdev_zero
from common.timeutil import stopwatch
from pyDOE import lhs
import dill as pickle
from .util import get_unique_matrix
from experiment import ExpContext, TunerContext
from globals import Paths

[2017-10-24 20:55] dvanaken commented on #6
The missing dependencies should be resolved now!

[2017-10-24 20:55] #6 closed

[2017-11-03 08:29] magalong2222 opened #8 "dependency is not complete"
from dbms.param import ConfigManager
can not find file dbms

[2017-11-08 14:45] caoli5288 commented on #2
https://github.com/oltpbenchmark/website/issues/15
Need help to connect to target database and start sampling.:)

[2017-11-29 06:00] #4 closed

[2017-11-29 06:01] dvanaken commented on #2
Site is now under construction with more contributors. Please check back soon!

[2017-11-29 06:01] #2 closed

[2017-11-29 06:02] dvanaken commented on #5
Site is now under construction with more contributors. Please check back for installation/setup instructions soon!

[2017-11-29 06:02] #5 closed

[2017-11-29 06:03] dvanaken commented on #8
Site is now under construction. These will be fixed. Please check back soon, thanks!

[2017-11-29 06:03] #8 closed

[2017-12-06 14:33] selwyni opened #22 "ConversionUtil"
ConversionUtil.get_human_readable essentially passes on the value we're converting and some system (list of tuples with numeric value for the suffix and said suffix) to hurry.filesize size function. The issue is in the conversion to the POSTGRES_TIME_SYSTEM in PostgresUtilImpl.

The POSTGRES_TIME_SYSTEM is currently in alphabetical order of the abbreviations - ['d', 'hr', 'min', 'ms', 's']. This p

[2017-12-06 15:25] dvanaken commented on #22
The time units in the POSTGRES_TIME_SYSTEM just happen to be in alphabetical order. The real reason for the current ordering is to avoid the ValueError that you mentioned where if you swap 'ms' with 's' and then try to parse an integer measured in ms.

That being said, I think the current ordering of the POSTGRES_TIME_SYSTEM is fine since all integers measured in time (or bytes) should always be >

[2017-12-06 15:45] selwyni commented on #22
My concern is with the formatting.

Do any issues come up down the line if the conversion utility returns '55000ms' rather than '55s' when parsing 55000? In the current impl, passing a number between 1 to 60000 returns it formatted in milliseconds rather than seconds, but passing in 0 gives '0s'.

[2017-12-06 16:19] dvanaken commented on #22
I see your point. Converting 55000 to '55000ms' instead of '55s' doesn't cause any issues but it's sloppy and not really working as intended. The ordering of the units in the POSTGRES_TIME_SYSTEM should be ['d', 'hr', 'min', 's', 'ms'] and get_raw_size should be fixed so it correctly converts 'ms' and 's'. We should still check that the value of any int measured in time/bytes is >= 0, but I think

[2017-12-07 17:34] dvanaken opened #25 "Support tuning without previous data"
Right now the automatic tuning component fails if there is no knob/metric data in its repository. To add support for tuning with an empty repository, OtterTune should start collecting some initial data so that it can train its ML models, then proceed as usual after it has collected enough training data.

[2017-12-07 17:49] dvanaken opened #26 "Encode categorical variables"
When tuning knobs that are categorical variables (enums), OtterTune currently just replaces the enum with its index in the list of all possible enums. We need to add support to correctly handle categorical variables before running the machine learning algorithms by using an encoding scheme (e.g., dummy encoding, one-hot encoding).

[2017-12-07 18:08] dvanaken opened #27 "Validate knob inputs and outputs"
OtterTune currently does not validate the values of the knobs when a user uploads new data to the website. It also does not validate them before creating the next configuration for the user to run.

We should perform the following checks for each knob using the information in the KnobCatalog:
- If it's an integer or real, check that the value is between minval and maxval
- If it's an enum, check t

[2018-01-06 21:43] selwyni opened #40 "LabelUtil outputs are have inconsistent encodings"
Use of LabelUtil's style_util method with a LabelStyle.CAPFIRST outputs labels in unicode.  Other LabelStyles output standard Python 2.x strings.

To be consistent, all label styles should output Unicode.

[2018-01-06 22:05] selwyni opened #41 "PostgresParser convert_integer - Raise ValueError for negative integers"
The BaseParser class convert_integer and convert_real don't perform any checking to see if a value is negative.

I think it would be reasonable to expect knobs to have non-negative values. A ValueError should be raised if a PostgresParser is given a negative knob value as input.

[2018-01-12 14:19] eribeiro opened #46 "Ottertune doesn't start due to lib missing"
When trying to run ottertune server it blows up with the following message:

[code]

[2018-01-12 16:52] eribeiro opened #48 "Replace old poster lib by modern requests"
[Requests](http://docs.python-requests.org/en/master/) is more mature and stable library, besides supporting a more rich set of features than [poster](https://atlee.ca/software/poster/). In addition, poster doesn't support Python3, so it would be nice to replace it.

[2018-01-12 17:46] selwyni opened #50 "convert_numeric_metrics in BaseParser"
Convert_numeric_metrics is a method in the BaseParser class that iterates over the numeric_metric_catalog_ field.

  1. There's a redundant conditional within the for loop that checks if the metrictype of a specified metric is MetricType.COUNTER. By definition, the numeric_metric_catalog_ contains only COUNTER metrics.

2. Method assumes that every numeric metric is found within the input metrics

[2018-01-12 17:48] selwyni opened #51 "PostgresParser missing convert_string and format_string"
BaseParser leaves the methods convert_string and format_string unimplemented. PostgresParser does have knobs and metrics with VarType.STRING.

[2018-01-18 16:54] selwyni opened #54 "Vagrant File Synced Folder"
Vagrant has the capability to sync folders between the host machine and the VM.

This is potentially more secure than symlinks and portable to other hypervisors since Vagrant handles the configurations.

Probably helps deal with the long filenames and development process.

[2018-01-18 23:26] selwyni opened #55 "BaseParser parse_dbms_metrics supports global and local scopes only"
Postgres96Parser metrics have different scopes - database, table, index, global. Currently, the BaseParser machinery supports global and local scopes only, and raises Exceptions otherwise.

Postgres96Parser needs an implementation of parse_dbms_metrics that doesn't rely on the BaseParser's parse_dbms_variables method, or the BaseParser's parse_dbms_variables method needs to be able to deal with va

[2018-01-22 20:15] dvanaken commented on #54
@selwyni what fix are you suggesting here?

[2018-01-23 03:07] dvanaken commented on #51
The PostgresParser class should override the methods in BaseParser only if it needs to handle them differently. Is there a case where the BaseParser class does not parse/convert the Postgres string vartypes correctly?

[2018-01-23 16:49] #51 closed

[2018-01-23 21:22] selwyni commented on #54
[code]
added to the vagrant file - syncedOtterTune might be redundant, or can be named something else.

In this situation, any small change in the ottertune directory is propagated to the VM

[2018-01-24 00:05] dvanaken commented on #54
Fixed in #61

[2018-01-24 00:05] #54 closed

[2018-01-24 15:15] stefanocereda opened #63 "Settings to replicate paper"
Hi all,
I'm trying to use ottertune to replicate the results obtained in "Automatic Database Management System Tuning Through Large-scale Machine Learning".
More specifically, I'm trying to run the TPC-C workload of OLTP. I've seen that the number of warehouses (scale) has been set to 200, but I can't find the number of terminals nor the weights for the various transaction types. Could you please

[2018-01-27 21:35] dvanaken commented on #63
Great!

WRT the time, the TPC-C and YCSB workloads are pretty simple -- in my experiments, I found that a period of 5 minutes was sufficient. You might test this and see if you find the same to be true. For more complex workloads you'd probably need a longer observation period.

You can try launching experiments using the code we've developed so far but do keep in mind that it's still under develo

[2018-01-29 14:31] stefanodoni commented on #63
Hi,

First of all many thanks for the great work!

I'm also interested in replicating the paper results on the Postgres database. Would you kindly add more detail around the following points:

1) I see something like 2x throughput improvement achieved with the TPC-C workload over the default.

May you kindly share what is the default Postgres configuration you are comparing to in the paper?

2) Ca

[2018-01-30 22:12] madelinemacd opened #69 "Deployment Instructions?"
I'm interested in trying out OtterTune, and I'd love more detailed information about where to start! I can see that most questions about deployment were closed last November with notes that more detailed instructions would be coming soon, is there an estimate on when more detailed information might be available, or any pointers on where to begin in the meantime?

[2018-01-30 22:16] apavlo commented on #69
@madelinemacd This repository contains the new version of the system that makes it easier for other people to use. We are close to having the first release soon.

[2018-01-30 22:19] madelinemacd commented on #69
@apavlo Great, thanks! I'll keep on checking back then

[2018-02-02 05:14] dvanaken commented on #63
Hi @stefanodoni - my answers are inline. I think your setup in (5) might be quite different. Hope this helps!

1. It's the default configuration for Postgres 9.3. The only knob changes are to enable statistics collection: track_counts=on, track_io_timing=on

2. It's the average throughput. We use 50 terminals for both the Default & OtterTune configs.

3. We restore the TPC-C database whenever the

[2018-02-07 18:10] dvanaken commented on #27
Fixed in #73

[2018-02-07 18:10] #27 closed

[2018-02-07 21:59] #40 closed

[2018-02-11 16:27] eribeiro opened #82 "Port Ottertune to Python3"
As seen here: https://pythonclock.org/ , python2 is being retired in the next two years. It would be very handy to port it to python3 as soon as possible. One idea is to use `2to3` tool that allows for an automatic way of rewriting the source files of the project. It can be executed as a dry-run so that you can see the impact of the changes. The main impediment is that some libs like `poster` are

[2018-02-11 18:06] apavlo commented on #82
@eribeiro Yes, we will eventually get to that. We are working on getting the system to run correctly first. Let's hold off on this for now.

[2018-02-11 18:06] #82 closed

[2018-02-11 23:12] suafeng opened #83 "upload_data.py not working"
When I and Bohan tried to upload data using upload_data.py, we encountered following error.

[2018-02-11 23:29] suafeng commented on #83
created a pr to fix this, waiting for review

[2018-02-11 23:40] dvanaken commented on #83
Fixed in #84

[2018-02-11 23:40] #83 closed

[2018-02-12 00:31] bohanjason opened #85 "speed up the website"
The website is too slow when many results are uploaded. When uploading ~1000 results, the page response time is ~20 seconds. We need to speed up the website by optimizing Django code (e.g. use cache in Django). The response time can be reduced to less than 1 sec from my previous experience.

[2018-02-13 02:23] swimj commented on #85
Hey, I think the issue might not be lack of caching.

Look at UpdateTask() class in tasks/async_tasks.py.  The rate_limit is currently set to '50/m'.  Is your 1000 result upload just a single upload (in which case rate_limit probably has nothing to do with the slowness), or many small uploads? If the latter, then maybe we just need to change the parameter?

Of course, caching is in itself a good t

[2018-02-13 02:31] swimj opened #87 "analysis/workload_mapping.py -- is this still relevant?"
It doesn't look like anything else in the project depends on either the WorkloadState or WorkloadMapper classes defined here, and that there's a independent map_workload task that really does the work right now.  Or am I missing something?

[2018-02-13 03:56] bohanjason commented on #87
You are right. For now we integrate workload mapping in async_task.py

[2018-02-13 03:58] bohanjason commented on #85
rate limiter affects the background tasks, which are asynchronous.  However, we need to do some optimizations to reduce page response time

[2018-02-16 19:10] bohanjason commented on #85
Hi Tao, Siyuan,

The main problem for now is that the view page will upload all results, which is very slow. To solve it, we can use Ajax to upload the results asynchronously, it can greatly improve the performance. I will finish it soon.

Also , there are some other optimizations we can do in Django. This[ link](https://docs.djangoproject.com/en/2.0/topics/db/optimization/) includes the details.

[2018-02-17 04:22] eribeiro opened #93 "Invalid target objective in tuning session crashes session page"
During the creation or edition of a session, if a non existent target objective is informed as below:

<img width="678" alt="screen shot 2018-02-17 at 1 55 26 am" src="https://user-images.githubusercontent.com/116156/36337816-d4bc6cf6-1386-11e8-9c3f-ada3b0c32a02.png">

Then the session page crashes. Also, if the user doesn't inform a target objective when tuning session is true, the table page get

[2018-02-18 00:16] bohanjason commented on #85
@suafeng  I have optimized session_view to speed up the website.  You may want to look into get_timeline_data in view.py. This function takes much time when loading the results.

[2018-02-18 08:34] chencheng1560 commented on #69
@apavlo, Hi, I am trying to deploy the project, but meet several problems. May I know what is the version of java and python the project use?

[2018-02-19 20:14] suafeng commented on #85
added prefetching in get_timeline_data.

[2018-02-20 03:18] apavlo commented on #69
@chencheng1560 We're still working on the first release. It's not ready yet.

[2018-02-20 09:57] chencheng1560 commented on #69
@apavlo, thanks! really appreciate your work and looking forward to the new version

[2018-02-21 17:10] bohanjason opened #99 "Change Password"
It seems that we do not have a page view to change the password for users. Can anyone help with it ?

[2018-02-23 18:19] selwyni opened #100 "Collector doesn't support Postgres9.3"
pg_stat_archiver statistics collector didn't come to PostgreSQL till 9.4. As a result, collecting data fails.

We should add some way to check versions of the DBMS in the collector before looking for stat views that don't exist yet.

[2018-02-23 19:21] selwyni commented on #100
<img width="1250" alt="screen shot 2018-02-23 at 2 11 40 pm" src="https://user-images.githubusercontent.com/18583496/36612378-7495f3ce-18a4-11e8-99c3-97b6e0791be9.png">

psql raises an exception, and the collector stops. Bohan and I are getting around it by temporarily removing the pg_stat_archiver from the list of tables to collect statistics from for now. I don't know if there are other options

[2018-02-24 03:17] bohanjason opened #101 "Negative Value for cache size?"
The loop script is almost done. However, OtterTune recommends some knobs out of the reasonable range sometimes. I am still looking into it and will fix it soon .

[2018-02-24 03:24] selwyni commented on #101
Does Postgres throw an error when you restart the server?

[2018-02-24 03:38] bohanjason opened #102 "Change Celery log path"
Celery and Django have the same log file website.log, it may cause some permission issues when restarting Celery worker or Django.   For now we can grant permissions for /tmp/log/website.log* on ottertune machine when encountering such problem. It is not urgent, and I will change the Celery log file to celery.log when I am free.

[2018-02-24 03:56] apavlo commented on #102
We should use `/var/log/ottertune/` or `/var/log/apache/ottertune/`. If we use `/tmp`, then we will lose all the files when the server restarts.

[2018-02-24 04:06] bohanjason commented on #102
Thanks ! Log files are located in /var/log/ottertune/ now.

[2018-02-24 08:18] bohanjason commented on #101
Fixed

[2018-02-24 08:18] #101 closed

[2018-02-26 03:56] suafeng commented on #99
#103

[2018-02-26 06:30] bohanjason opened #104 "Workload Issue"
The workload model is kind of messy.  (1) We do not distinguish the training data workloads and the tuning data workloads. (2) Also, OtterTune thinks two workloads are same if they have same names. If two users both name their workloads as 'workload-0', OtterTune will treat them as the same workload now. (3) When deleting a session, the corresponding workloads are not deleted.

[2018-03-07 06:39] junli0411 opened #106 "How to install ottertue?"
Hi,
Is there any document for the full installation ? is the website already included in the ottertune ?
Thanks

[2018-03-07 19:12] apavlo commented on #106
Instructions are coming soon. This repo contains everything needed to run the complete system.

[2018-03-12 02:10] eribeiro commented on #99
This issue can be closed, couldn't It?

Protip: you add 'Fix #<issue number>' then the Github issue os automatically closed when the PR is merged. Github accepts the plural Fixes too. And you can fix strings in the commit as you like.

[2018-03-13 06:43] #99 closed

[2018-03-14 02:59] bohanjason opened #108 "Update Parser Test"
https://github.com/cmu-db/ottertune/blob/03c4801d582078e2cc1a5b6dcc3365cfd866bff5/server/website/tests/test_parser.py#L454

We need to update the test above because the create_knob_config function has been changed

[2018-03-14 22:16] #85 closed

[2018-03-14 23:44] #102 closed

[2018-03-15 18:04] #25 closed

[2018-03-16 21:17] #108 closed

[2018-03-17 03:26] bohanjason opened #112 "Website Layout & time"
![screen shot 2018-03-16 at 11 18 48 pm](https://user-images.githubusercontent.com/16722167/37551133-6924f56c-2970-11e8-99d1-32f4745726c7.png)

For now we show all the plot metrics on the left side, which is too long. We want to divide them into different pages like the right-side filtered results.

https://github.com/cmu-db/ottertune/blob/8c0948d010d42971216f5a322cb4995690420e86/server/website/we

[2018-03-18 02:47] bohanjason opened #113 "Add support for Postgres9.3"
Add support for Postgres 9.3

1. Add fixture here
ottertune/server/website/website/fixtures/dbms_catalog.json

2. Add Postgres9.3 parser here
https://github.com/cmu-db/ottertune/blob/8c0948d010d42971216f5a322cb4995690420e86/server/website/website/parser/parser.py#L28
and
https://github.com/cmu-db/ottertune/blob/8c0948d010d42971216f5a322cb4995690420e86/server/website/website/parser/postgres.py#L114

[2018-03-18 03:28] bohanjason opened #114 "Support other Objective Functions"
Now we hardcode the objective function as throughput. See:

https://github.com/cmu-db/ottertune/blob/8c0948d010d42971216f5a322cb4995690420e86/server/website/website/parser/base.py#L160

and

https://github.com/cmu-db/ottertune/blob/8c0948d010d42971216f5a322cb4995690420e86/server/website/website/parser/postgres.py#L69

Also, we use the gradient descent to minimize -throughput.

https://github.com/c

[2018-03-23 04:03] #114 closed

[2018-03-23 18:57] bohanjason commented on #112
Here are still two things to make it better:
1. Put the throughput metric as the first one instead of the last one.
2. Set the default # entries as 35.  Then the left side almost has the same height as the right one when the right side shows 10 results.

[2018-03-24 01:14] bohanjason opened #119 "Max Value"
We need to set max values for some knobs in different hardwares. For example, the buffer memory cannot exceeds the total memory of the machine.

We can get the hardware information (e.g. memory, cpu, storage info) from here.
https://github.com/cmu-db/ottertune/blob/30220615555c262a241937e9aa91390adaba249a/server/website/website/models.py#L157

We select a hardware type when creating a session. The

[2018-03-24 01:18] bohanjason commented on #100
Fixed #111

[2018-03-24 01:18] #100 closed

[2018-03-28 15:48] #112 closed

[2018-03-28 17:49] #113 closed

[2018-03-28 17:52] #119 closed

[2018-03-28 17:58] bohanjason opened #126 "Fix target objective"
Only show the selected target objective instead of all target objectives in the session view. e.g. when the user selects throughput as the target objective, then the latency should not be shown in the session view.  Otherwise it gets broken because it does not have latency data.

[2018-03-28 18:02] bohanjason opened #127 "Constant File"
We have some hardcoded variables now. It's better to have a constant file and user can set all these variables in the constant file.

e.g. The number of samples is hardcoded.
https://github.com/cmu-db/ottertune/blob/8d27d0a6dafc8654637f07c313ebefaf31e72626/server/website/website/tasks/async_tasks.py#L282
The selected knob number is also hardcoded.
https://github.com/cmu-db/ottertune/blob/8d27d0a6d

[2018-03-28 18:35] bohanjason opened #128 "Controller Signal"
When the controller is not specified a running time, it will continue to run until it receives a 'stop' signal.

[2018-03-28 23:38] #126 closed

[2018-03-31 21:50] #127 closed

[2018-03-31 21:57] bohanjason opened #134 "Starting Points"
For now we only use random samples as starting points in GPR. https://github.com/cmu-db/ottertune/blob/490a9d5aa117904cec3ee39dae7d8ddd078a0c51/server/website/website/tasks/async_tasks.py#L285

We may want to add the previous top K configs with the best performance as the starting points. K is a hyperparameter included in the constant file ottertune/server/website/website/settings/constants.py
The

[2018-03-31 22:03] bohanjason opened #135 "OLTPBench Log"
Run OLTPBench on the ottertune-dev, and write a python file to check its LOG periodically (like every 1 second). The OLTPBench will create some terminals, start the experiment, finish the experiment and kill  the processes. Your python file should know when OLTPBench starts and finishes the experiment by checking its Log. Then send a signal to the controller to start and terminate. You may want to

[2018-04-03 21:27] #87 closed

[2018-04-03 21:39] bohanjason opened #136 "move parameters to the constant file"
Move the parameters in the analysis part to the constant file. ottertune/server/website/website/settings/constants.py

Tune these parameters if you have free time.

[2018-04-04 22:55] swimj commented on #136
I wonder if it would be better to make a separate constants file for the analysis directory?

Otherwise, the import path will have to be something like,
"from ..website.website.settings import constants" which feels convoluted.

And I think the pure analysis code should be relatively independent of the website code.

[2018-04-04 23:01] swimj opened #137 "support boolean/binary categoricals"
PR #88 and #131 add support for categorical variables when the variable can take at least 3 values.

There is no reason the same code cannot work for 2 values, except that dummy encoding a boolean just adds a redundant column.

The hacky way is to just take what's in the above PRs and turn off the check that the variable take at least 3 values.  Unless that's actually fine to do, I plan to re-add

[2018-04-05 23:50] bohanjason commented on #136
I think we only need to import the constants in the task files like this line. Pass the parameters into the analysis part instead of importing the parameters into analysis files directly.  Any ideas ?
https://github.com/cmu-db/ottertune/blob/490a9d5aa117904cec3ee39dae7d8ddd078a0c51/server/website/website/tasks/async_tasks.py#L307

[2018-04-06 14:12] selwyni commented on #136
https://github.com/cmu-db/ottertune/blob/490a9d5aa117904cec3ee39dae7d8ddd078a0c51/server/analysis/constraints.py#L125
That works for some, but here's an exception - a constant in an analysis file.
It was the only one I found so it could just be left alone, or tuned at some other point

[2018-04-06 19:11] bohanjason commented on #136
Thanks Jacky !  I think we can revise the function to pass that parameter in. e.g. change the function https://github.com/cmu-db/ottertune/blob/490a9d5aa117904cec3ee39dae7d8ddd078a0c51/server/analysis/constraints.py#L113
to :
def randomize_categorical_features(self, sample, p = 0.3, scaled=True, rescale=True):

I still think passing these parameters into the function is a right way, which is more

[2018-04-08 17:58] xiaoyuaner commented on #106
When do we have instructions~ I am still waiting for this. ^_^

[2018-04-08 18:39] #128 closed

[2018-04-08 18:42] bohanjason opened #139 "Upgrade to Python 3"
Migrate to Python 3 ASAP to support GPFlow.

[2018-04-08 20:38] bohanjason commented on #139
It seems that poster does not support Python 3
https://bitbucket.org/chrisatlee/poster/issues/24/not-working-with-python3

We need to replace it with another package.
https://github.com/cmu-db/ottertune/blob/b809dd58cfe53fcc6c35821cfc4f69577319080b/server/website/requirements.txt#L11

[2018-04-08 21:36] #48 closed

[2018-04-08 21:43] bohanjason commented on #139
I have replaced poster with request package .

MySQL-python and supervisor do not support Python 3. We may want to use other packages.

[2018-04-09 00:59] apavlo commented on #139
@bohanjason You want to use the 'mysqlclient' python3 package.

[2018-04-09 01:41] dvanaken commented on #139
@bohanjason The only place we used the supervisor package was in the fabfile to facilitate starting/stopping celery. Removing it won't be a big deal.

[2018-04-09 23:35] bohanjason commented on #134
Any update ?

[2018-04-12 00:06] enjoy988 commented on #106
Anyone is using OtterTune now? Would really appreciate if we can exchange the experiences of using it.

[2018-04-12 00:28] kylechenoO commented on #106
I want to test it, but can not install it while initial django database, something error in the hard code.

------------------ Original ------------------
From:  "enjoy988"<notifications@github.com>;
Date:  Thu, Apr 12, 2018 08:06 AM
To:  "cmu-db/ottertune"<ottertune@noreply.github.com>;
Cc:  "Subscribed"<subscribed@noreply.github.com>;
Subject:  Re: [cmu-db/ottertune] How to install ottertue? (#1

[2018-04-13 17:26] bohanjason opened #143 "update Vagrant"
I have not tested Python3 on Vagrant. Update Vagrant to support it. Remove supervisor in the fab file if necessary.

[2018-04-13 17:32] swimj commented on #136
@selwyni , do you have stuff for this? Maybe we had a miscommunication but for some reason I thought you'd started on this, so I was waiting for you. If not, just let me know, so I can do this for Bohan.

[2018-04-13 17:41] bohanjason commented on #136
Hi Justin,  I think Jacky is working with Shuli on the controller. Could you please help move the parameters?  I need this part to tune OtterTune's hyper-parameters.  Thanks a lot !

[2018-04-13 17:52] bohanjason opened #144 "Incremental Knobs."
We may want to use an incremental approach where OtterTune dynamically increases the number of knobs used in a tuning session over time. Details can be found in our paper.

[2018-04-13 17:54] #134 closed

[2018-04-14 01:33] swimj commented on #136
I'm doing it now

[2018-04-14 02:37] swimj commented on #136
I can't send in a PR because I haven't switched my local system to Python3 yet, so can't run all the tests and can't run the style validator.

For now, I've sent you an email, @bohanjason , with the files you should need.  I'll try to also work on issue #143 since I need to use Vagrant to develop.

[2018-04-14 02:38] swimj commented on #143
@suafeng , let me know if you want any help with this, since I need to use Vagrant to test Ottertune locally

[2018-04-17 22:40] #136 closed

[2018-04-17 23:51] bohanjason opened #148 "Fixtures for different DBMS versions"
This is not urgent. But I think we can have a better way to store the fixtures for different database versions. For example, Most of knobs and metrics in Postgres 9.2, 9.3, 9.4, 9.6 are same. We can only store these common knobs/metrics in a single Postgres fixture, and store the version-specific knobs/metrics separately.  For now we have duplicated knobs/metrics in all Postgres versions.

ottertu

[2018-04-21 20:35] bohanjason opened #151 "User Define Function -Client side"
When the driver stops OLTPBench and controller, OLTPBench will output some statistics like latency, and controller will output some collected data (knobs.json, metrics_before/after.json, summary.json) .  You may want to parse the OLTPBench output file and write it into a new file target_objective.json, which has the information of target objectives and their values (e.g. latency)

Then you will up

[2018-04-21 20:50] bohanjason opened #152 "User Define Function - Server side"
Add a target_objective.json file which has information about latency and its value. Upload it together with other four files (knobs.json, metrics_before/after, summary.json) to the tuner.  Tuner needs to parse the file and gets the value of target objective.

https://github.com/cmu-db/ottertune/blob/eeebeb949f855018e2d8d1ff99487fa365a9abf0/server/website/website/views.py#L384

You may also want to

[2018-04-28 23:07] #135 closed

[2018-05-01 19:48] lukasmichel opened #161 "Tuner not running"
I am trying to test ottertune on my local machine. I was able to create a server as described in the wiki. I then was able to refactor the fabfile located in ottertune/client/driver so that it runs on my machine. So, I monitor a workload execution, upload the results of that monitoring and then run the query-and-get.py script. But I do not get any results from the tuner. I ran the query-and-get.py

[2018-05-03 17:51] apavlo commented on #161
@bohanjason Can you look into this?

@lukasmichel It may just be easier for you to use our service running at CMU.

[2018-05-04 08:43] lukasmichel commented on #161
I tried using the ottertune server at ottertune.cs.cmu.edu a few hours ago, but the tuning failed during the workload mapping with the following reason:
[code]
I tried again just now, and now I get a Server Error (`Server Error (500)`) as answer from the server when uploading a result.

[2018-05-07 01:31] 11hifish opened #162 "Check if the workload name contains invalid characters"
Check if the workload name in the upload result summary files has invalid characters like '.', which will make the whole webpage down now.

[2018-05-07 01:32] apavlo commented on #162
Is this the same problem as  #161?

[2018-05-07 01:39] 11hifish commented on #162
It might not be the same problem. I tried to upload data collected from AWS. The upload script reports `stored successfully` and the web response is always 200 OK and does not cause any error. However, the website shows nothing after I uploaded the data. I found this is caused by timeline.js, which puts the workload name into a url but it does not recognize '.' in url.

[2018-05-07 02:26] bohanjason commented on #162
One possible solution is to replace '.' with '_' for workload names when the tuner handles the uploaded files.  like this [line](https://github.com/cmu-db/ottertune/blob/1babeeb17e6ae033ddc179c4739fd071f1671821/server/website/website/views.py#L394)

[2018-05-07 02:34] bohanjason opened #163 "Wiki Documents"
We need more documents about installation and deployment. More detailed explanations on the controller, driver,  and tuner, etc .

[2018-05-10 14:51] lukasmichel commented on #161
Thank you, I did not start the celery worker like this. Now the tuner responds.
I have one more question: Is it sufficient to populate the repository by uploading data into a non-tuning session? And if yes, how many different workloads do I need to monitor how many times so that the tuner will have enough data to actually tune something?

[2018-05-12 01:42] bohanjason commented on #161
The basic step is to upload the training data to the non-tuning session, then create a tuning session and upload tuning task. The server can make use of the training data in the non-tuning session to train ML models.  Be sure to run celery worker and celery beat before.

The tuning result highly depends on your training data . The training data needs to be widely distributed in the search space. F

[2018-05-15 21:41] enjoy988 commented on #161
Hi, according to this guide, I don't need to setup Vagrant and Virtualbox first before running the tuner?

[2018-05-15 23:47] enjoy988 commented on #163
Please provide detailed doc about how to use Ottertune to tune our actuall PostgreSQL, not just document about how to set up website to show fake data.

[2018-05-16 18:19] lukasmichel commented on #161
Thank you very much, @bohanjason , now the tuner is working. So I understand it right that, to work properly, ottertune needs to have seen a lot of different, quite well configurations to be able to tune those configurations even further.

[2018-05-22 01:15] enjoy988 opened #164 "Segmentation fault"
Hi,

When I tried to run
python manage.py makemigrations website

According to this guid:
https://github.com/cmu-db/ottertune/tree/master/server/website#6-start-the-message-broker-celery-worker-website-server-and-periodic-task

I got "Segmentatin fault" error

I am using CentOS6.6 with python3.6.

Please help!

[2018-05-22 01:16] apavlo commented on #164
Can you provide more information? Is there a stacktrace?

[2018-05-28 07:32] jaesik817 opened #165 "installation fail on suse os"
Hi,

I tried to install this repo. on suse, I got followed error.

I think the reason is python-mysqldb package, which is not supported in suse, thus I installed python-mysql.

could you check this problem?

Thanks.

BRs, Jaesik Yoon.

$python manage.py migrate
Operations to perform:
  Apply all migrations: admin, auth, contenttypes, djcelery, sessions, sites, website
Running migrations:
  Applyin

[2018-05-29 06:48] bohanjason commented on #165
Hi Jaesik,
It seems that Django fails to compress the table.
https://github.com/cmu-db/ottertune/blob/1babeeb17e6ae033ddc179c4739fd071f1671821/server/website/website/migrations/0002_enable_compression.py#L21
I agree that the reason is python-mysql connector if you can run the same sql in your MySQL database successfully.
One simple solution is to skip this compression step when loading the databas

[2018-05-29 07:55] jaesik817 commented on #165
thank you for your kindly response.

With your recommendation, I jumped this issue (skip the compression).

For your later issue tracking,

I tried to install ottertune on SUSE 12.1 and use python-MySQL-python.
https://software.opensuse.org/package/python-MySQL-python

The library didn't support compression.

Just to list-up the issues on your side.

Thanks.

Best Regards, Jaesik.

[2018-05-29 07:55] #165 closed

[2018-05-29 08:28] jaesik817 opened #166 "how could I run sample workload? (e.g. TPCH, TPCC)"
I want to run the ottertune for sample workloads (e.g. TPCH, TPCC),

however the workload on session info is empty.

How could I load(?) workload on ottertune page?

Thanks.

Best Regards,

Jaesik Yoon.

[2018-05-29 16:26] bohanjason commented on #162
Any update here ?  You can check the workload name on the server side https://github.com/cmu-db/ottertune/blob/1babeeb17e6ae033ddc179c4739fd071f1671821/server/website/website/views.py#L394. And return the error message if it fails. Workload name can only include numbers and '_'

[2018-05-30 16:26] bohanjason commented on #166
There are two sides of OtterTune, server-side and [client-side](https://github.com/cmu-db/ottertune/wiki/client-side). When both sides are set up, you can run driver in the client side to  run a tuning loop. https://github.com/cmu-db/ottertune/blob/1babeeb17e6ae033ddc179c4739fd071f1671821/client/driver/fabfile.py#L178

[2018-05-30 16:27] bohanjason commented on #166
Besides , we use OLTPBench to run workloads on the client side.

[2018-06-07 09:01] xupefei opened #167 "New URL for checkstyle.jar"
https://github.com/cmu-db/ottertune/blob/1babeeb17e6ae033ddc179c4739fd071f1671821/client/controller/build.gradle#L79

They have moved the repo to Github. The download url is now `https://github.com/checkstyle/checkstyle/releases/download/checkstyle-8.8/checkstyle-8.8-all.jar`

[2018-06-18 19:47] KhangxLi commented on #163
Hi, I'm a first year student on my first internship trying to understand and make the software work with our databases. I would really like to see more how-tos and explanation documentation for the end user.

[2018-06-19 17:20] KhangxLi opened #168 "input_config.json file is missing"
Hi, I'm trying to run gradle run as per ottertune/client/controller/read.me, but the config file input_config is nowhere to be found.

[2018-06-19 20:53] KhangxLi commented on #161
Hi, I keep getting Server Error (500) when I try to upload to locahost:8000/new_result, can anyone help?

[2018-06-19 21:02] bohanjason commented on #168
I think the sample config file is located at ottertune/client/controller/config/ .  You can use -f flag to specify the config file path .

Not sure about the default one.  @11hifish Could you please look into it ?

[2018-06-19 23:30] KhangxLi commented on #168
Yes thanks, I've created a config file connecting to a database on a remote server so I don't really need the default one anymore (though it's still missing). Thanks

ps I'm trying to upload my generated data (knob json, etc.) and I keep getting server error 500. Do you know something about that @bohanjason? If not I'll open an issue tomorrow. :)

[2018-06-20 03:17] ElviraSunshine commented on #168
@bohanjason Hi, I'm trying to run `gradle run -f XXX -t XXX` ,and now I get a Error :

`FAILURE: Build failed with an exception.
* What went wrong:
 Problem configuring task :run from command line.

`
Can you help me ?

[2018-06-20 12:21] KhangxLi commented on #168
@ElviraSunshine go to ottertune/client/driver/fabfile.py to see the syntax in the task run_controller

[2018-06-20 14:31] ElviraSunshine commented on #168
@KhangxLi Thanks.

[2018-06-20 18:45] KhangxLi commented on #69
@apavlo Hi, is the repo right now usable to tune a real database?

[2018-06-20 19:51] bohanjason commented on #69
@KhangxLi  Yes. We use the repo to tune Postgres, and we improve the throughput from 400 (default) to 3000.

[2018-06-20 21:50] KhangxLi opened #169 "Ottertune not working when postgresql version is 9.5. KeyError: 'pg_stat_database.xact_commit' And Exception: Cannot find objective function"
Hi, I've been trying to run fab upload_result with your sample_output/postgres files as well as with my own files. In both cases pg_stat_database.xact_commit is not recognized.

`[20/Jun/2018 17:38:03] INFO [django.request:19] POST /new_result/ - 500
[20/Jun/2018 17:38:03] ERROR [django.server:131] "POST /new_result/ HTTP/1.1" 500 27
[20/Jun/2018 17:41:43] INFO [django.request:12] POST /new_result

[2018-06-21 15:06] KhangxLi commented on #169
I found the upload works if I manually and wrongfully change the database_version in summary.json from postgres 9.5 to 9.6 (and do the same on my session to upload to).

[2018-06-21 23:43] bohanjason commented on #169
Thanks.  We will look into it. I tuned Postgres 9.3 before. Not sure about other versions. @11hifish may have tested on more Postgres versions.

[2018-06-22 01:01] #26 closed

[2018-06-22 01:01] #137 closed

[2018-06-26 20:55] KhangxLi opened #170 "Update urllib.urlopen in ottertune/script/query_and_get.py for Python3.x"
AttributeError: module 'urllib' has no attribute 'urlopen'
when running query_and_get.py

Fix:
import urllib.request
and change urllib.urlopen() to urllib.request.urlopen()

[2018-06-29 13:36] KhangxLi commented on #169
Again: Only for 9.5 (different error for some reason)

Internal Server Error: /new_result/
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/django/core/handlers/exception.py", line 39, in inner
    response = get_response(request)
  File "/usr/local/lib/python3.5/dist-packages/django/core/handlers/base.py", line 249, in _legacy_get_response
    response = self._get

[2018-07-05 14:09] KhangxLi opened #171 "How to get good training data"
Hi, I get "WARNING: no training data, the config is generated randomly" from all of my tuning recommendation.
I have been uploading to a non-tuning session and to a tuning session. Is it because I have not yet enough data or because there is no data with good results?

What would the next step for me to make Ottertune stop generating random recommendations? Sorry if this is a problem on my side an

[2018-07-05 16:41] bohanjason commented on #171
Hi, it's likely you have not started the periodic tasks. After uploading the training data, make sure the periodical tasks are executed at least one time.
``
python3 manage.py celerybeat --verbosity=2 --loglevel=info
``

Another possible reason is that your training data has different database versions or hardware types with the one you are tuning. Make sure your tuning session and non-tuning sess

[2018-07-05 16:44] bohanjason commented on #167
Thanks!  It is fixed in PR #157

[2018-07-05 16:44] #167 closed

[2018-07-05 21:20] KhangxLi commented on #171
Hi @bohanjason , I am definitely running the celerybeat. Both my tuning and training sessions have the same version and hardware type.

I did need to modify the postgres-94_knobs.json in website/fixtures to match the min/max knob values of my 32 bit database. I am also tuning a postgres 9.5 while changing summary.json to 9.4 on every loop since 9.5 isn't working.

So I got to a point where I had a

[2018-07-07 08:12] mayanktiwari09 opened #172 "Optimal Training of ottertune - Tuner part"
Initially we executed ottertune/client/driver>fabfile.py - run_loops with oltpbench - tpcc for a non-tuninig session (only upload data of fabfile was active).

How we prepared the training data in non-tuning session:
- we ran fabfile run_loops for 50 iterations, and after every 50 iterations,  we randomly changed the knobs of postgres and changed the weights for transaction types in oltpbench/conf

[2018-07-09 15:41] KhangxLi commented on #172
Hi, do you get 'Warning, no training data, recommendation is random' or something similar and 'status: bad' in your next_config file?

[2018-07-09 16:05] mayanktiwari09 commented on #172
Hi KhangxLi, I think tuner is generating new configs, however it is not getting applied to the db. Please verify. I have seen usually this happens when tuner sees the same knobs. When I started giving random values in my postgres conf file, the training data size increases. As a whole I conclude, this may be happening, because the recommended configs (from tuner) are not getting applied to db. And

[2018-07-18 16:46] bohanjason commented on #171
As said in another PR #172,  the tuner will remove the duplicate knobs when tuning.

[2018-07-18 17:20] bohanjason commented on #172
Hi @mayanktiwari09 , sorry for the late reply.

50 training data is not enough for tuning a config. To get started, I recommend to use a single workload with the same weights to try, and randomly generate 1000 configs for this workload to get training data.  Then use the training data to tune this workload. If it does not recommend a good config, let the tuner running for a long time (e.g one day)

[2018-07-19 11:57] sunashe opened #174 "Errors occurred when performed pip3 install -r requirements.txt （macos）"
balabalabala.............
  /usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/include/python3.7m/pystate.h:237:15: note: 'curexc_value' declared here
        PyObject *curexc_value;
                  ^
    numpy/random/mtrand/mtrand.c:44867:13: error: no member named 'exc_traceback' in 'struct _ts'; did you mean 'curexc_traceback'?
        tstate->exc_traceback = local_tb;

[2018-07-24 13:51] mayanktiwari09 commented on #172
Hi @bohanjason thanks for your reply.

I did the setup as per your recommendation, I setup driver>fabfile.py to run for tpcc bench. Now TPCC has default weights 45,43,4,4,4. I ran a total of 15000 iterations from fabfile>run_loops where after each 15 iterations, I changed the knobs using bash scripts. At the end of 15000 iterations, I get a workload, with 1000 different knobs (training data size i

[2018-07-24 17:01] bohanjason commented on #172
Hi Mayank, Can you show the knobs OtterTune are recommending ? OtterTune should choose ten(default) knobs according to the training data and recommend values for these knobs. Let's see whether these knobs are good or not . Thanks.

[2018-07-24 17:33] mayanktiwari09 commented on #172
Hi @bohanjason,

Thanks a lot for your reply.

The last recommended knobs by ottertune is following:
{'recommendation': {'global.effective_cache_size': '6GB', 'global.max_worker_processes': 12, 'global.checkpoint_timeout': '11min', 'global.bgwriter_lru_multiplier': 9.0, 'global.maintenance_work_mem': '200MB', 'global.bgwriter_flush_after': '512kB', 'global.wal_buffers': '64MB', 'global.min_wal_siz

[2018-07-24 18:19] bohanjason commented on #172
Hey Mayank, The recommendation contains most knobs we want to tune except this knob  "checkpoint_segments" in postgres 9.3. Can you run the background task again to see the knobs ? Also check whether your training data and the preloaded knobs fixture have this knob.

Thanks,

[2018-07-24 18:42] mayanktiwari09 commented on #172
Hi @bohanjason , thanks a lot for your reply and time.

While preparing the training data, we randomly sweep values of the following knobs:

shared_buffers
effective_cache_size
work_mem
maintenance_work_mem
bgwriter_lru_maxpages
bgwriter_delay
checkpoint_completion_target
wal_buffers
min_wal_size
checkpoint_flush_after
checkpoint_timeout
effective_io_concurrency
max_worker_processes
bgwriter_flush

[2018-07-24 19:03] bohanjason commented on #172
Hi Mayank, Sorry for the confusion.  checkpoint_segments is  an important knob in Postgres 9.3, and you may want to include it.  I think this knob is deprecated in Postgres 9.6.

I have not tried Postgres 9.6, but I have tuned Postgres 9.3 successfully. The knobs you listed and 'checkpoint_segments' should be enough for tuning Postgres 9.3.

[2018-07-25 04:35] pritishmishra commented on #172
Hi @bohanjason

Thanks a lot for taking time and looking into this issue. I am working on this along with @mayanktiwari09.

As you correctly mentioned, `checkpoint_segments` is deprecated for Postgres 9.6. From the documentation, I found the following suggestion.

[code]

We had used `min_wal_size` in our experiment's setup. We can repeat the experiment by including `max_wal_size` for sweeping the

[2018-07-26 17:58] bohanjason commented on #172
Yes, By including max_wal_size,  I think you setup is good for tuning Postgres 9.6. Make sure you have swept some big values for the important knobs, because we use the max value of knobs in the training data as the max in the tuning range.

[2018-08-02 05:17] Rucchao opened #175 "Possible tuner bug"
I use the latest version and data from the data generator, after everything is set, when I upload the data to the tunning session, the asyc_task(line 272) complains an error saying that:

AttributeError: 'OneHotEncoder' object has no attribute 'n_values_'

I can run the tuner correctly before June 13, would you please fix this error, thanks.

[2018-08-02 15:30] swimj commented on #175
Will look into this. Sorry for the bug!

On Wed, Aug 1, 2018 at 10:20 PM Bohan Zhang <notifications@github.com>
wrote:

[2018-08-02 16:55] swimj commented on #175
Hey @Rucchao , what version so scikit-learn are you using? We are assuming 0.19.*, where OneHotEncoder has an n_values_ attribute (see http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html), so the error you're encountering shouldn't be possible in that API.

However, in 0.20 I see that they are in the process of deprecating this attribute (see http://scikit-lea

[2018-08-03 05:43] Rucchao commented on #175
The _pip show_ its version is 0.19.1, and I installed all the dependencies from the requirement.txt , my python version is 3.5.1. Maybe I could revert to previous the git version to check if it is my problem.

[2018-08-03 15:24] swimj commented on #175
Ok good to know. If you just want to use some version of Ottertune now, you can revert to the old version until I fix this. My code, that is triggering your exception, was checked in after June 13.

I actually have a guess as to what is going wrong: if there are no categorical knobs in your generated data, then the DummyEncoder might not be getting initialized, thus n_values_ is not set. I'll try

[2018-08-07 02:48] 11hifish opened #176 "TPCC causes Postgresql unexpected EOF error on client connection with an open transaction"
Environment: Postgresql 9.3 on Ubuntu Linux, Amazon m3.xlarge (14G mem); oltpbench(tpcc) on Ubuntu Linux, Amazon m4.xlarge (15G mem).

How to produce the error: Run the tuning pipeline with data collected from Postgres 9.2 tpcc. (many ways possible to get the error)

Knobs installed last seen:
bgwriter_delay = 314ms
bgwriter_lru_maxpages = 345
checkpoint_completion_target = 0.5
checkpoint_segments

[2018-08-16 02:30] bohanjason commented on #170
Thanks for your comments. It is fixed now.

[2018-08-16 02:30] #170 closed

[2018-08-22 22:30] bohanjason commented on #175
Still not work. I tried on Postgres 9.3 and met same errors. @swimj  Could you please help fix it and test it by submitting a tuning task ? Thanks.

[2018-08-22 18:16:38,153: ERROR/MainProcess] Task configuration_recommendation[9d37d220-b3ed-4ec2-8b30-6f639db8cd20] raised unexpected: AttributeError("'OneHotEncoder' object has no attribute 'n_values_'",)
Traceback (most recent call last):
  File "/

[2018-08-22 22:57] bohanjason commented on #175
I change ottertune/server/website/website/tasks/async_tasks.py to the previous one ([link](https://github.com/cmu-db/ottertune/blob/362026dd4110eaed57c1867eeecc30a6029226e1/server/website/website/tasks/async_tasks.py)) to avoid calling dummy code functions. Users can do the same thing before the bug is fixed.

[2018-09-06 20:29] bohanjason commented on #168
I realize it is hardcoded previously. We fix it and currently you can set controller config path  "controller_config" in ottertune/client/driver/driver_config.  Thanks for reporting the issue.

[2018-09-06 20:29] #168 closed

[2018-09-10 19:50] bohanjason commented on #162
Fixed. A valid workload name should only contain alpha-numeric, underscore(_) and hyphen(-)

[2018-09-10 19:50] #162 closed

[2018-09-21 01:28] jdanilson opened #179 "pip3 install fails with pip._vendor.requests.exceptions.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:645)"
after doing a server install per the wiki on red hat 7 the pip install for the server fails with the following:

sudo /usr/local/bin/pip3 install -r ottertune/server/website/requirements.txt
Collecting autopep8==1.3.4 (from -r ottertune/server/website/requirements.txt (line 1))
Exception:
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/site-packages/pip/_vendor/requests/package

[2018-10-04 11:41] zhj4655 opened #180 "How to use the ottertune to tune mysql?"
Hi, how to use the ottertune to tune mysql? I find the server can only test on postgres.
When I create a new session on the website, it does not have the DBMS-mysql option.
Is there a way to test mysql using ottertune?
thanks

[2018-10-12 07:56] thomasloubejac opened #181 "fab upload_result says the /ottertune/output/*.json files are empty when they aren't"
this is where I am :
`thomas@ubuntu:/ottertune_dev/ottertune/client/driver$ fab upload_result
[localhost] Executing task 'upload_result'
[localhost] local: python3 ../../server/website/script/upload/upload.py            ../controller/output/ ZZMS74VVXG6DQSXZNYH9 http://127.0.0.1:8000/new_result/

 b'{\n "start_time": 1539337711622,\n "end_time": 1539338058702,\n "observation_time": 347,\n "databas

[2018-10-15 01:14] bohanjason commented on #180
Hi,

You may want to add MySQL database in the fixture ottertune/server/website/website/fixtures/dbms_catalog.json

The database type should be its id in  https://github.com/cmu-db/ottertune/blob/87c356655a4030123d4eec8b72453d4c12e49937/server/website/website/types.py#L33

Also, you should add knob and metrics fixture and preload them into the database.  e.g. The following are the fixtures for Pos

[2018-10-15 02:34] zhj4655 commented on #180
Thank you for your reply. I modified some files and now can run the ottertune to tune mysql, but I don`t have the knobs.json and metrics.json files. I creata them and add six knobs and two metrics into the two files, but the ottertune doesn`t work well. So I will be very grateful if you can give me a copy of the knobs and metrics files. By the way, what should I return of transaction_counter and l

[2018-10-16 18:14] bohanjason commented on #181
It seems that your uploaded files are not valid. Please double check the files in /ottertune/output/  , It should contain the files knobs.json, metrics_before.json, metrics_after.json, and summary.json.  Here is an example for Postgres:  ottertune/client/controller/sample_output/postgres/

[2018-10-17 08:51] thomasloubejac commented on #181
thanks for answering.

I printed the raw string from the json file that's why it doesn't look correct but it actually is :
[code]

the other json files were correct too.

I don't remember how but I managed to solve that problem,

The actual problem is that query_and_get either doesn't answer, or fails because of an empty answer from the server. (thus next_conf will always be empty)

here's what is

[2018-10-17 18:18] bohanjason commented on #180
You do not need find fixture for all metrics and knobs.  Get some important ones.

The latency metric is incorrect here. We cannot find a metric to measure the latency in Postgres internal metrics.  See the recent PR #182 and its description , which supports to get the metric in the client side and upload it to the server.

Find a similar metric to count the transaction in MySQL.  If you cannot fi

[2018-10-18 06:47] zhj4655 commented on #180
OK, I will try again.
Thank you very much.

[2018-10-18 08:15] #181 closed

[2018-10-18 08:16] thomasloubejac commented on #181
I didn't touch files on the server side but I made a fresh install and it worked a little further. the problem is now the next_config generation

[2018-10-18 20:01] bohanjason commented on #152
Partially fixed in #182

[2018-10-18 20:01] #152 closed

[2018-10-18 20:01] bohanjason commented on #151
Partially fixed in #182

[2018-10-18 20:01] #151 closed

[2018-10-21 01:19] bohanjason commented on #180
Hi, to make it easier to collect initial training data, we  add a session to randomly generated settings between min/max val. You may want to see the recent PR #184

[2018-10-22 08:05] thomasloubejac opened #185 "Invalid format / value in next_config"
fab run_loops doesn't work for more that 1 iteration because next_config are generated with wrong values
[code]
which is in the definition range so I guess it's wrong format.

after rectifying random_page_cost and seq_page_cost :
[code]

Knowing that I selected the t2.nano hardware on the website, this seems a little out of bound.
It also seems that changing session on the website in order to chan

[2018-10-22 17:15] bohanjason commented on #185
Hi, It seems that the config is randomly generated. It will randomly choose value between min_val and max_val.  You may want to set the min_val and max_val in knobs fixture to the reasonable range.  It's too large for min_wal_size and max_wal_size according to your log.

[2018-10-25 12:05] thomasloubejac commented on #185
There's a unit problem. shared_buffers is calculated in memory size but should be put in the next_conf without unit since it represents numbers of 8kB-sized blocks.
A second problem is that the memory related knobs are generated randomly between minval and maxval without checking if the total sum exceeds memory size.

I fixed the problems by adding a few lines in async_tasks.py and utils.py. I wil

[2018-11-02 09:06] thomasloubejac commented on #185
checkpoint_flush_after needs to be a multiple of 8192

[2018-11-02 09:12] thomasloubejac opened #188 "How to make ML kick in ?"
I actually have 1000 configurations generated randomly, when I changed my sessions from randomly generate to tuning session, configurations are still generated randomly.

Did I miss something to start tuning the dbms ?

[2018-11-02 09:57] thomasloubejac commented on #188
Eventually it kicked in but gives me "tuning failed", I guess you just have to wait 4 to 5 loops to see changes take effect.

[2018-11-02 09:57] #188 closed

[2018-11-02 10:18] thomasloubejac commented on #171
I also have the conversion issue with wal_sync_method, did you manage to fix this ?

[2018-11-04 18:52] #104 closed

[2018-11-06 13:04] thomasloubejac commented on #171
I "fixed" it by setting it to not tunable in the fixtures and resetting the whole website

[2018-11-06 13:06] thomasloubejac commented on #185
wal_sync_method should be set to not tunable, if not, you will have to deal with a conversion issue (" could not convert string to float : 'fdatasync' " for example)

This only happened when the ML started kicking in.

[2018-11-06 15:02] thomasloubejac opened #190 "Guide on how to use TPCC benchmark"
During randomly generate session :
* It seems that the database performance decrease over time.
* And start converging around 100 txn/s

During tuning session (celery worker shows recommendation)
* The database performance rarely goes over 100 txn/s

So I'm wondering if I did anything wrong ?
I had 500 random configuration tested before going to tuning session.

Am I supposed to reload the databas

[2018-11-07 13:17] thomasloubejac commented on #190
I let it run all night, it dropped to 65 txn/s over a 1000 tuning session loops.

[2018-12-17 14:50] nabti commented on #69
@bohanjason  Hello, thank you for your work. Can you please give me instructions on how to use Ottertune for mysql.
I mean from the begining how to install it to how to use it. Need help please

Thank you

[2019-01-14 08:36] nabti commented on #190
Hi @thomasloubejac,
Sorry this is not to answer your question I was just wondering if you can Explain how we can use it. step by step.

Thank you for your help

[2019-01-15 09:07] thomasloubejac commented on #190
What I will give you here worked for me on postgres-9.6, you'll have to adapt on other dbms

1) clone this repo on your client and server machines

# On your client Machine

2) clone oltpbenchmark repo on your client machine
make sure you installed every packages needed

3) Make sure that you set an account on your client's database for ottertune, set it with a password and grant it with the right

[2019-01-15 09:31] nabti commented on #190
Thank you very much @thomasloubejac  thank you for your time explaining this step by step. I'll try to test this for my case it is for mysql on percona server.

Thank you again

[2019-01-15 10:07] thomasloubejac commented on #190
ottertune/client/driver$ cat driver_config.json | jq
{
  "database_type": "postgres",
  "database_name": "dbtest",
  "database_disk": "/dev/sda1",
  "database_conf": "/etc/postgresql/9.6/main/postgresql.conf",
  "username": "thomas",
  "password": "thomas",
  "oltpbench_home": "/ottertune_dev/oltpbench",
  "oltpbench_config": "/ottertune_dev/oltpbench/config/tpcc_config_postgres.xml",
  "oltpbench

[2019-01-15 10:08] thomasloubejac commented on #190
ottertune/server/website/website/fixtures/$ cat postgres9-6_knobs.json
[code]

[2019-01-15 10:14] thomasloubejac commented on #190
Ok then I hope this will help you!

[2019-01-17 07:59] bohanjason commented on #190
Now we have an [end-to-end example](https://github.com/cmu-db/ottertune/wiki/Example) using OtterTune to tune Postgres 9.6 with a  AWS instance. It may be a good example to get started.

[2019-01-17 08:03] nabti commented on #190
@bohanjason  Thank you very much

[2019-01-17 14:16] bohanjason commented on #190
@nabti  No problem , sorry for the late reply.

[2019-01-18 13:31] thomasloubejac commented on #190
@bohanjason
With scalefactor values greater than 95, i cannot get 'fab load_oltpbench' to run without errors.
Also, the time set in oltpbench is very different from the time that is saved in controller/output/summary.json.
Can you please check and see if something is wrong with my installation process in the above comment ?

[2019-01-18 13:35] thomasloubejac commented on #190
I just saw I had to increase max_connection I will try this

[2019-01-23 08:45] harjots82 opened #196 "only works for MySQL?"
Hi
does it work only for MySQL ?
can it be used to tune Oracle ?

[2019-01-24 15:09] apavlo commented on #196
@harjots82 We are working on Oracle now. It currently supports Postgres + MySQL.

[2019-01-24 15:09] #196 closed

[2019-01-24 15:35] bohanjason commented on #196
You can extend OtterTune to your own target database, see FAQ wiki page. https://github.com/cmu-db/ottertune/wiki/FAQ#2-how-to-tune-a-new-database-

[2019-01-30 15:20] yangdsh opened #197 "celery worker is not running under --detached mode"
I found that the start_celery() function in /server/website/fabfile.py is not starting a celery worker.

It just finishes without errors or warning, but when 'ps aux | grep celery' I found no celery worker running.

Then I open a new cmd and run the command without --detached (python3 manage.py celery worker --loglevel=info --pool=threads), it works.

Another thing is that celerybeat is needed for

[2019-02-07 14:52] bohanjason commented on #197
Hi Dongsheng,

Sorry for replying late.

You may want to fix server side fabfile as you mentioned. It's obsolete
now. I run the celery commands directly (refer to Wiki)

Feel free to create PR and supplement the Wiki document. Make sure
OtterTune can work successfully after your changes.

Best,
Bohan

On Wed, Jan 30, 2019 at 11:20 PM Dongsheng Yang <notifications@github.com>
wrote:

--
Bohan Zhang

[2019-03-19 07:38] melodylaw opened #202 "how to use lhs sample to collect sample data"
hi,i want to use ottertune to tune oracle database
can you provide me lhs sample method in details?
page "Collecting Training Data" provide few information

[2019-03-20 08:11] #202 closed

[2019-03-20 08:16] melodylaw opened #203 "how to use ottertune to tune oracle database?"
i have an oracle database ,the version is 11.2.0.4.
i created a session,but there is no relative option.
so how to use ottertune to tune oracle database??
i need your help!!!!

[2019-03-29 08:37] melodylaw opened #204 "fab upload_result says "Exception at /new_result Cannot find objective function""
i use following command to upload my result:
root@vm-ubuntu: fab upload_result
but an error is reported:

**Exception at /new_result/**
**Cannot find objective function**
**Request Method: 	POST
Request URL: 	http://myottertune_server_ip:8000/new_result/**
Django Version: 	1.10.1
Exception Type: 	Exception
Exception Value: 	Cannot find objective function
Exception Location: 	/usr/local/software/Ot

[2019-03-29 08:53] melodylaw commented on #204
my result files is stored in ottertune/client/controller/output/:
-rw-r--r--  1 root root  8095 Mar 29 15:50 knobs.json
-rw-r--r--  1 root root 14977 Mar 29 15:50 metrics_after.json
-rw-r--r--  1 root root 14607 Mar 29 15:50 metrics_before.json
-rw-r--r--  1 root root   170 Mar 29 15:50 summary.json

[2019-05-31 18:34] arifiorino opened #206 "Cold Start Doesn't Work"
Running "fab loop" on the first try without doing "fab lhs_samples" and "fab run_lhs" doesn't work. It sets the knobs to extreme values which crashed postgres.

[2019-06-24 23:38] arifiorino commented on #206
Fixed in PR #210.

[2019-07-10 17:04] neonadia commented on #206
I encontered the same issue: after running "fab loop" once, ottertune will set "max_wal_size" and "min_wal_size" to extremely high (e.g. 28 PB). I tried to run "fab run_lhs" but it cann't fix this issue. Also I tried to edit the jason file inside the "fixtures" fold in order to change the min/max range settings, however, the issue still there. Do you have any suggestions?

[2019-07-10 19:59] arifiorino commented on #206
Try running fab load_lhs, then fab run_lhs, then fab loop. This issue was fixed in PR #210 but it hasn’t been merged in yet.

[2019-07-10 23:04] neonadia commented on #206
Thank you for your reply. But still not working, it keeps saying that "no trainning data". I tried to upload the example tranning data you upload here:https://github.com/bohanjason/ottertune-example-data. Seems uploading is successful, but when I run fab loop, it still says "no trainning data"

[2019-07-10 23:08] arifiorino commented on #206
When you do "fab lhs_samples", it should make samples in the "config" folder, and then "fab run_lhs" should try each of those samples. If this doesn't work for some reason, try pulling from https://github.com/arifiorino/ottertune where I made the random generating to be in range.

[2019-07-10 23:38] neonadia commented on #206
I tried your code, yes, it can set  "max_wal_size" to reasonable value. Thank you! This part fixed. However, it will set the "shared_buffer_size" to a very small number (e.g. 47kb). Do you know how could I modify the range of random generation?

[2019-07-10 23:41] neonadia commented on #206
When I ran "sudo systemctl start postgresql@9.6-main.service", it gives me:

Jul 10 23:31:05 server-cl2 systemd[1]: Starting PostgreSQL Cluster 9.6-main...
Jul 10 23:31:06 server-cl2 postgresql@9.6-main[25146]: The PostgreSQL server failed to start. Please check the log output:
Jul 10 23:31:06 server-cl2 postgresql@9.6-main[25146]: 2019-07-10 23:31:06.144 UTC [25153] LOG:  5 is outside the valid r

[2019-07-11 15:29] arifiorino commented on #206
Yes, you can edit ottertune/server/website/website/fixtures/postgres-96_knobs.json and then reinstall the server.

[2019-07-11 16:51] neonadia commented on #206
I see, last time when I edit "postgres-96_knobs.json", I just reboot the server, I think that is the reason why it won't work. Also, I saw someone said that I need at least run 1000 loops to generate enough random data for trainning the model. After that I can start tuning, is that correct? (https://github.com/cmu-db/ottertune/issues/190)
PS: According to my understanding, the number of the loops

[2019-07-11 17:55] arifiorino opened #213 "Feature: Edit knob min/max values"
A feature where a session has knob min/max values that can be edited.

[2019-07-11 17:56] arifiorino opened #214 "Feature: Graph knob values"
A feature where you can see knob values alongside throughput.

[2019-07-11 22:52] neonadia opened #215 "How to set up incremental knobs?"
I would like to know if this function already exist, because accoding to your paper it is much better to use incremental knobs than a certain number of knobs.
Also I would like to know how to check the knob importance?

[2019-07-15 18:35] arifiorino commented on #215
We are in development, and we're making much more knob configuration available to the user.

[2019-07-15 19:57] neonadia commented on #215
Thank you for your reply. I found a closed pull "Add incremental knobs", it seems working fine for PSQL.

[2019-07-15 20:02] neonadia commented on #214
I would like to know is there anyway I can output the knob values in current version?  Thank you.

[2019-07-15 20:04] arifiorino commented on #214
Not yet, that is still in development.

[2019-07-16 01:10] neonadia opened #216 "Default Learning_Rate"
I found there is a default learning rate setting at 0.01 in "gp_tf.py".
Since this is a Hyperparameter, to improve the performance or convergence speed do I need to change this number?

[2019-07-18 09:09] anlalalu commented on #190
I encountered the same problem that the database performance decreases over time. Could you please tell me how to fix it? @thomasloubejac @bohanjason

[2019-07-29 22:56] dvanaken opened #222 "Travis CI: use Docker in builds"
Update .travis.yml to run tests using our Docker images: https://github.com/cmu-db/ottertune/tree/master/docker

I'm not sure of the best way to do this but it seems like the following needs to happen:
- Test the code in the repo pointed to by $TRAVIS_BUILD_DIR instead of cloning the repo: https://github.com/cmu-db/ottertune/blob/master/docker/Dockerfile#L12
- Use docker-compose to run the same te

[2019-07-29 23:46] dvanaken commented on #222
@eribeiro Would you be able to work on this?

[2019-07-30 17:47] edwardoliveira commented on #222
@dvanaken sure, I can take a stab at this. :+1:

In fact, cloning the repo is not a best practice, but I left so that it didn't change very much from the previous Dockefile version.

[2019-07-30 20:35] dvanaken commented on #222
@eribeiro @edwardoliveira It turns out I need this sooner than I thought so I'm working it now, but if you have time to review the PR tonight that would be helpful. I am planning to merge it tonight after I get #211 merged.

[2019-07-30 20:56] edwardoliveira commented on #222
Sure! I can review it tonight.

[2019-07-30 21:42] eribeiro commented on #222
You certainly know this, but to integrate into a travis-ci pipeline you probably need to make the changes in the diff below (see if helps, please):

[dockerfile.txt](https://github.com/cmu-db/ottertune/files/3448958/dockerfile.txt)

It moves back Dockerfile and docker-compose.yml to previous dir and change lines in Dockerfile accordingly.

PS: @edwardoliveira is my other GH account (long history..

[2019-07-31 19:03] edwardoliveira commented on #222
@dvanaken Hi, I have taken a first stab at using Docker for CI, but as you need this sooner (and I am reviewing a book for Manning whose deadline is tomorrow :grimacing: ), then you could take a look and see if there's anything worth including in your solution. Please, let me know what do you think. :)

[2019-07-31 19:39] dvanaken commented on #222
@edwardoliveira Thanks for the head start! I will let you know when I submit a PR with the full changes.

[2019-08-01 20:00] dvanaken commented on #222
Fixed in #224

[2019-08-01 20:00] #222 closed

[2019-08-04 10:41] #166 closed

[2019-08-06 17:49] neonadia opened #226 ""Knob Data" on server website page means current configurations or recommended configurations?"
I think it should be the recommended configuration, but I am not sure about that.

[2019-08-20 09:36] kwokon0ng commented on #203
I am interested in using ottertune for oracle as well. I notice this is in work in progress by ottertune team. Is there anything that can be shared with public?

[2019-09-08 04:06] bohanjason opened #230 "unique hardware id"
If two hardwares have same cpu, memory and disk, they should be same  hardware and have same (unique) hardware id. Now they have different hardware ids.

My concern is that it will affect the workload mapping phase, and the data cannot be reused even for same hardware.

[2019-09-08 15:33] arifiorino commented on #230
We talked about this on Friday, I'll make the hardware table only have unique rows. Before adding a new hardware it will check if one exists.

[2019-09-18 06:42] yangminxingnus commented on #7
Hi, is this version complete now?

[2019-09-25 22:22] dvanaken commented on #213
Added in #227

[2019-09-25 22:22] #213 closed

[2019-09-25 22:24] dvanaken commented on #206
Fixed in #210

[2019-09-25 22:24] #206 closed

[2019-09-26 00:08] #63 closed

[2019-09-27 03:52] #41 closed

[2019-09-27 03:54] #50 closed

[2019-09-27 03:54] #55 closed

[2019-09-27 03:57] #161 closed

[2019-09-27 03:57] #69 closed

[2019-09-27 03:58] #106 closed

[2019-09-27 04:00] #164 closed

[2019-09-27 04:02] #169 closed

[2019-09-27 04:04] #171 closed

[2019-09-27 04:05] #172 closed

[2019-09-27 04:06] #174 closed

[2019-09-27 04:06] #176 closed

[2019-09-27 04:07] #179 closed

[2019-09-27 04:08] #180 closed

[2019-09-27 04:09] #185 closed

[2019-09-27 04:11] #197 closed

[2019-09-27 04:13] dvanaken commented on #214
Added in #228

[2019-09-27 04:13] #214 closed

[2019-09-27 04:16] #93 closed

[2019-09-27 17:52] dvanaken opened #234 "Basic tests for DDPG"
Add basic tests for DDPG like the ones for GPR: https://github.com/cmu-db/ottertune/blob/master/server/analysis/tests/test_gpr.py

[2019-09-27 17:54] dvanaken opened #235 "Basic tests for NN"
Add basic tests for NN like the ones for GPR: https://github.com/cmu-db/ottertune/blob/master/server/analysis/tests/test_gpr.py

[2019-09-30 09:12] vishaliitd opened #237 "Will this work with IBM informix database."
HI
We are interested to put this autotunning feature in IBM informix.

[2019-10-04 01:31] #230 closed

[2019-10-07 20:51] dvanaken opened #243 "Custom target objectives"
Add support for custom target objectives. The standard list of target objectives (currently throughput_txn_per_sec) should be extensible so that database- and user-specific can be registered with minimal effort.

[2019-10-07 20:55] dvanaken opened #244 "Travis: end-to-end testing"
Add end-to-end tests to Travis that run the full tuning loop (driver, controller, and website).

[2019-10-07 20:58] dvanaken commented on #163
@bohanjason this was added, right?

[2019-10-07 21:08] dvanaken opened #245 "Send bad knob configs back to server"
Some knob configurations recommended by OtterTune may fail (e.g., total RAM allocated in knobs > total RAM available on the machine). The driver should indicate the failure when uploading the next result as well as whether the failure occurred while (1) restarting the database or (2) executing the workload.

[2019-10-07 21:10] dvanaken commented on #215
Currently a feature request. See #144

[2019-10-07 21:10] #215 closed

[2019-10-07 22:26] dvanaken commented on #235
@bohanjason Can you add these tests when you have some time? Thanks!

[2019-10-08 13:26] dvanaken commented on #234
Added in #246

[2019-10-08 13:26] #234 closed

[2019-10-09 02:01] bohanjason commented on #163
@dvanaken Yes, it has an end-to-end example now.  But the document still needs to be improved.

[2019-10-09 02:04] bohanjason commented on #243
I added this for latency target objective.  Refer to this PR  #182
The general idea is to get the metric from the client side and write it to metric_before and metric_after.
It may still need to be improved to make it easier to use.

[2019-10-09 04:21] dvanaken commented on #235
Added in #248

[2019-10-09 04:21] #235 closed

[2019-10-15 03:10] bohanjason commented on #244
I can work on this one.

[2019-10-15 21:40] mjain2 opened #256 "Training data for successful tuning run"
Hi,

I'm testing out ottertune with MySQL & TPCC.  I have seen some conflicting issues/documentation on training data, so just wanted to get some clarity on a few questions I had.

I have forked ottertune and am using it with Azure MySQL (made the proper changes to parser/code/configs to enable that).  I used LHS to generate ~50 samples for 6 different knobs, then ran a few loops (resulting in err

[2019-10-16 09:11] vishaliitd opened #257 "END-to-End steps for MYSQL"
Can you please provide end to end steps for running this fro mysql on window

[2019-10-21 20:46] dvanaken commented on #243
Added in #253

[2019-10-21 20:46] #243 closed

[2019-11-04 04:07] bohanjason opened #271 "Integration Test for DDPG"
We should add integration test for DDPG like this:
https://github.com/cmu-db/ottertune/blob/8bb3de85e70d878d314386838fdbed74ae36df32/client/driver/fabfile.py#L703

The session is already created in tests, the upload code is this:
https://github.com/cmu-db/ottertune/blob/8bb3de85e70d878d314386838fdbed74ae36df32/server/website/website/views.py#L1093

[2019-11-30 22:43] bohanjason commented on #271
Hi @yangdsh , could you please look into this when you are free ? Thanks

[2019-12-04 23:09] dvanaken commented on #245
Added in #286 and #288

[2019-12-04 23:09] #245 closed

[2019-12-11 00:48] dvanaken opened #299 "Error running GPR/DNN"
When I run GPR/DNN I get the following error:
[code]

@yangdsh Could you take a look at this when you get a chance?

[2019-12-11 01:25] bohanjason commented on #299
@dvanaken  I am working on this. I will create a PR tonight.

[2019-12-11 02:44] yangdsh commented on #299
Thanks! @bohanjason
I also run into this issue on Monday. After I avoided changing the set of knobs to tune, I did not have this issue anymore.

[2019-12-11 04:51] bohanjason commented on #299
Fixed in this PR  #300 . Please let me know whether it solves your issues.

[2019-12-11 08:16] dvanaken commented on #299
Thank you @bohanjason !

[2019-12-11 14:07] dvanaken opened #301 "Error running LHS (3rd iteration)"
[code]

[2019-12-11 21:08] eribeiro opened #303 "Update wiki documents"
Now that Docker is in full steaming, many of the instructions in current wiki documentation are unnecessarily complex and out of date. And also provide end-to-end examples of use, if possible.

[2019-12-11 21:16] eribeiro opened #304 "Push ottertune official docker images for DockerHub"
Please, push official ottertune images on [DockerHub](https://hub.docker.com/) that docker-compose.yml can just pull it from there (no need to build). I have found this one: https://hub.docker.com/r/arifiorino/ottertune-server but it's not official.

It would be nice to have a cmu-db account with ottertune as one of the projects. You could provide latest (for each commit) as well as versioned imag

[2019-12-12 10:44] dvanaken commented on #299
Fixed in #300

[2019-12-12 10:44] #299 closed

[2019-12-12 12:05] dvanaken commented on #301
Resolved. Each Docker web service must have its own rabbitmq service.

[2019-12-12 12:05] #301 closed

[2019-12-12 12:52] apavlo commented on #304
We agree but we're not there yet.

[2019-12-12 12:52] #304 closed

[2019-12-15 05:05] bohanjason opened #306 "Visualize ranked knobs and pruned metrics in UI"

[2019-12-15 19:00] dvanaken opened #309 "Knob comparison improvements"
In the knob comparison view:
(1) use human-readable values. For example: 3000000000 --> 3 GB
(2) show the target objective for the experiment selected and the one being compared, and in the drop-down selection list

@arifiorino we can talk about this more tomorrow

[2019-12-17 06:26] molujii opened #315 "Invalid Upload code"
While upload the  workload Invalid upload code error is occurring how to resolve it

[2019-12-17 08:22] niteshme2 opened #316 "Running the complete project using Docker"
It would be very helpful if there is a doc in wiki explaining how to run the project on docker.

[2019-12-17 08:59] Demired commented on #316
It would be very helpful if there is a doc in wiki explaining how to run the project on docker. +1

[2019-12-18 09:52] molujii commented on #190
@thomasloubejac can you make the video for this it will be a great help because from last 1.5 months i am trying to run it but still not able to run it
One more question can you run this on vmware linux?

[2019-12-18 20:30] arifiorino commented on #309
This is fixed in #317 .

[2019-12-19 11:02] molujii commented on #190
@thomasloubejac  i am having error Fatal error: local() encountered an error (return code 1) while executing 'df -h /dev/mapper/ottertune--dev--vg-root'  when i am trying to run 'fab loop' command can you help me in resolving this issue

[2019-12-19 11:02] molujii commented on #190
@bohanjason i am having error Fatal error: local() encountered an error (return code 1) while executing 'df -h /dev/mapper/ottertune--dev--vg-root' when i am trying to run 'fab loop' command can you help me in resolving this issue

[2019-12-19 11:03] molujii commented on #190
@nabti i am having error Fatal error: local() encountered an error (return code 1) while executing 'df -h /dev/mapper/ottertune--dev--vg-root' when i am trying to run 'fab loop' command can you help me in resolving this issue

[2019-12-21 05:59] dvanaken commented on #309
(2) Fixed in #319

[2019-12-21 06:08] dvanaken commented on #315
If this is not resolved we'll need the error messages from the driver and/or webserver to help you.

[2019-12-21 06:25] dvanaken commented on #216
We've found 0.01 to be a good value for the learning rate in our experiments but you can test other values to verify this is also true for your data.

[2019-12-21 06:25] #216 closed

[2019-12-21 06:29] #163 closed

[2019-12-21 06:39] dvanaken commented on #204
This issue should be fixed now.

[2019-12-21 06:39] #204 closed

[2019-12-21 06:40] #226 closed

[2019-12-23 09:10] molujii commented on #315
@dvanaken  thanks for the response today we were able to resolve it.

[2019-12-25 06:53] niteshme2 opened #322 "How is celery configured for this project?"
Can someone give me any idea about celery is configured with this project? I am trying to resolve an issue I am having but I am having trouble with the celery part.

Even a brief tip on how celery is configured with this project would be very helpful.

P.S. I am trying to run it using docker

[2019-12-25 10:50] niteshme2 opened #323 "celery instead of djcelery"
I have noticed that ottertune for now is using djcelery for scheduling and execution of tasks. But in the official documentation [here](http://docs.celeryproject.org/en/latest/django/first-steps-with-django.html#using-celery-with-django) at the top it says that django is supported out-of-the box since version 3.1 .

So, I just wanted to know if djcelery is being used for some specific reason or if

[2019-12-26 17:09] molujii opened #324 "running experiment never getting completed"
![2a8b95ed-43ec-4ef6-b6f0-0d86ff797b1d](https://user-images.githubusercontent.com/37249180/71484061-7e41bc80-2830-11ea-8781-7b7b17c9f062.jpg)

[2019-12-26 17:10] apavlo commented on #324
This screenshot is not helpful. Can you provide additional information?

[2019-12-26 17:29] molujii commented on #324
@apavlo  when i am running "fab run_loops:10"  the first collection of metrics is done after that
starting experiment is running forever i think so that the experiment is not running and aslo it is not showing any error .

[2019-12-30 07:57] #322 closed

[2019-12-30 07:57] #323 closed

[2019-12-30 09:08] molujii commented on #181
@thomasloubejac  how did you figure it out the problem of next_config generation

[2019-12-30 10:56] molujii commented on #190
@thomasloubejac  @nabti  were you able to run whole project end-to-end.

[2020-01-02 09:30] niteshme2 opened #325 "The new config recommended have values outside the [min, max] range"
When trained on the trained data downloaded as per explained in the wiki and then running training loops, I get this error where it says that new config file contains error and that the values for a particular parameter are outside the valid range. I am attaching the screenshot.

PS. I am running it using dockerfiles
![image](https://user-images.githubusercontent.com/26631133/71660299-9786c380-2d7

[2020-01-03 03:13] dvanaken commented on #324
The output from OLTPBench is redirected to driver/oltp.log. What does it show?

[2020-01-03 03:20] dvanaken commented on #325
You can set the min/max range for each knob via the `edit knobs` button located on the main webpage for your session. Double-check these are set to appropriate values.

[2020-01-06 01:46] #325 closed

[2020-01-07 10:45] niteshme2 opened #328 "How to create knobs and metrics files under fixtures for a database"
For a specific database type and version there are two files in the fixtures folder in website.
For ex:    for postgres 9.6 there are two files "postgres-96_knobs.json" and "postgres-96_metrics.json".

My question is how do I create these files for a new database?

[2020-01-09 01:22] wanghuidba opened #330 "how to config a test env make test?"
how to config a test env make test? could please provider a config guid to me ?

[2020-01-09 01:22] apavlo commented on #330
Your question does not make any sense.

[2020-01-09 14:32] niteshme2 opened #332 "Website loads the basic version. No styling is in effect"
When i run the website it looks like very basic html and seems that styling is not getting applied.
![image](https://user-images.githubusercontent.com/26631133/72076014-d7bee680-331a-11ea-8bd6-225cf673139a.png)

![image](https://user-images.githubusercontent.com/26631133/72076056-ec02e380-331a-11ea-99e7-ebd07ffdc655.png)

How can i correct this?

[2020-01-10 01:47] #330 closed

[2020-01-13 07:51] dvanaken commented on #328
Our scripts for creating the fixtures are located here: https://github.com/cmu-db/ottertune/tree/master/server/website/script/fixture_generators

[2020-01-13 09:40] dvanaken opened #334 "Workload mapping: replace numpy GP implementation with GPFlow"
https://github.com/cmu-db/ottertune/blob/master/server/website/website/tasks/async_tasks.py#L938

[2020-01-14 13:18] #328 closed

[2020-01-14 13:25] dvanaken opened #338 "Bug: target_objective is hard-coded in views.get_workload_data()"
The hard-coded target objective should be replaced with the session's target objective.

[14/Jan/2020 08:16:54] INFO [django.request:12] GET /get_workload_data/?id=1&session_id=1&conf=1&met=db_time&_=1579007813136
[14/Jan/2020 08:16:54] ERROR [django.request:135] Internal Server Error: /get_workload_data/
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.6/

[2020-01-14 16:17] #324 closed

[2020-01-14 16:17] #315 closed

[2020-01-16 06:11] warf34 opened #339 "how to use ottertune?"
How to use ottertune?
I can't find document or wiki for using ottertune

[2020-01-18 21:38] dvanaken commented on #332
This happens if you run the website with `DEBUG=False` and have not set up the static files correctly. Please see the Django documentation: https://docs.djangoproject.com/en/3.0/howto/static-files/

[2020-01-18 21:38] #332 closed

[2020-01-18 21:41] dvanaken commented on #309
(1) Fixed in #331

[2020-01-18 21:41] #309 closed

[2020-01-21 01:59] #338 closed

[2020-01-22 01:00] dvanaken opened #345 "Refactor GPR implementations"
The three GPR implementations in our ML lib are scattered and need refactoring.

Suggested changes:
- Move the [numpy](https://github.com/cmu-db/ottertune/blob/master/server/analysis/gp.py) and [tensorflow](https://github.com/cmu-db/ottertune/blob/master/server/analysis/gp_tf.py) implementations into the [gpr](https://github.com/cmu-db/ottertune/tree/master/server/analysis/gpr) module (this is cur

[2020-01-23 21:42] dvanaken opened #347 "Skip workload mapping when no workloads available"
For algorithms GPR/DNN, the following error happens when the session has sufficient training data (default is >= 10 samples) but the background task that aggregates the data has not finished running yet:

[code]
Instead of throwing an exception, we should skip workload mapping and compute the next configuration with the training data from that session.

[2020-01-23 21:46] dvanaken commented on #334
Fixed in #343

[2020-01-23 21:46] #334 closed

[2020-02-18 20:55] #347 closed

[2020-02-27 18:13] #271 closed

[2020-02-27 18:14] #244 closed

[2020-03-08 05:44] #306 closed

[2020-03-13 16:17] ve9u opened #369 "Unittest failure"
Hi,

I noticed that `test_nn.py` is failing while I am trying to understand the analysis part.

Please find more details below.

[code]
There was a warning message from Tensorflow package about the CPU. Please find my cpu details below.

[code]
Thanks,
Venu

[2020-03-15 01:44] dvanaken commented on #369
The CPU warning is not related to the error, it's just letting you know that Tensorflow might not be running as fast as it could be if you were to compile it from source to use the additional instructions available on your CPU.

What version of TensorFlow are you running? If it's not version 1.12.2 (see [requirements.txt](https://github.com/cmu-db/ottertune/blob/master/server/website/requirements.

[2020-03-17 02:24] ve9u commented on #369
Thanks for the reply. I am closing the issue then.

[2020-03-17 02:24] #369 closed

[2020-03-24 14:11] dvanaken opened #374 "Links to knob data in are invalid when plotting multiple metrics"
In the session view, the knob data links under "Filtered Results" are invalid when after plotting 2+ metrics. (The knob data links are valid when only plotting a single metric).

![image](https://user-images.githubusercontent.com/5816784/77433678-0eeb5280-6db6-11ea-898f-95daba98fe65.png)

![image](https://user-images.githubusercontent.com/5816784/77434790-c5036c00-6db7-11ea-8449-926715b680c3.png)

[2020-03-24 17:30] bohanjason commented on #374
Same issue for the Workload link.

[2020-04-10 16:31] gaochao-git opened #383 "Create A new Session-DBMS can't find the mysql option"
i'm a MySQL DBA and want tune the MySQL ,but i can't find the option.

mysql> select * from website_dbmscatalog;
+-----+------+------------+
| id  | type | version    |
+-----+------+------------+
|   1 |    2 | 9.6        |
|   2 |    2 | 9.2        |
|   3 |    2 | 9.3        |
|   4 |    2 | 9.4        |
|   9 |    9 | 5.6        |
|  12 |    4 | 12.2.0.1.0 |
|  19 |    4 | 19.0.0.0.0 |
| 121 |

[2020-04-11 02:03] gaochao-git commented on #383
thanks for your support!

[2020-04-13 17:06] yangdsh commented on #383
I am sorry but Ottertune does not support tuning Mysql now. Supporting a new DBMS requires a lot of work, which we cannot afford now.

[2020-04-13 17:08] bohanjason commented on #383
Actually we have mysql fixture in our private repo. Will put it in this public repo

[2020-04-14 05:02] gaochao-git commented on #383
@bohanjason ，Thanks a lot !!!

[2020-04-23 07:51] bohanjason opened #401 "support MySQL5.6"

[2020-04-23 07:52] bohanjason opened #402 "support MySQL5.7"

[2020-04-23 07:52] bohanjason opened #403 "support MySQL8.0"

[2020-04-23 07:52] bohanjason commented on #383
reference: issue #401

[2020-04-23 07:52] #383 closed

[2020-05-13 02:41] bohanjason commented on #401
#400

[2020-05-13 02:41] #401 closed

[2020-05-13 02:42] bohanjason commented on #402
#400

[2020-05-13 02:42] #402 closed

[2020-05-13 02:42] bohanjason commented on #403
#400

[2020-05-13 02:42] #403 closed

[2020-05-18 08:35] mikefarmer01 opened #412 "Implement DS-DPPG (QTune algorithm)"
Hey guys,

I see you implemented the DPPG algorithm, that's nice.
Have you checked out QTune yet? In Guoliang Li et. al.'s paper "QTune: A Query-Aware Database Tuning System with Deep Reinforcement Learning - ), they suggest an algorithm they call dual-state DPPG, which they show to have further latency and throughput improvements over CDBTune (DPPG).

Have you thought about implementing this algo

[2020-05-23 23:52] bohanjason commented on #412
It's not on our road map yet.

[2020-05-23 23:52] #412 closed

[2020-05-30 08:17] bohanjason opened #416 "configuration_recommendation errors"
Sometimes I get the following errors, I guess it may happen when Celery receives both configuration_recommendation task and  periodic tasks in the same time.

[30/May/2020 07:51:18] ERROR [celery.worker.job:282] Task configuration_recommendation[configuration_recommendation-edce126a-41db-4372-8dc8-68c4ceb51750] raised unexpected: ValueError("Input contains NaN, infinity or a value too large for dt

[2020-07-12 21:42] #416 closed

[2020-08-10 14:11] fermelone opened #419 "What's the status of the docker deployment?"
Hi! First of all, great project! I think it's a snapshot of the future of DBMS offerings.

Re Docker: It feels I only spin up the server side, and not a version that reflects the manual python deployment (not sure which one is not updated?)

Do you recommend running the Docker deployment for this project, and am I missing any components (client)?

Thanks!

[2020-09-11 15:06] Mifan-Ren opened #420 "celery worker cannot start"
hi,
  When I tried ottertune followed wiki, it was stuck in step: `python celery worker --loglevel=info --pool=threads` . The debug info is "celery.bootsteps: 272 worker: hub register pool".
  Similarly, when l tried fake data test followed wiki "quickly get started", the website didn't have any knobs to be tuned. My guess is that the knob information is not being used, but the table in ottertune

[2020-10-16 13:03] haojinglu commented on #419
I am also wondering about this. I think the docker part is used for CI..

[2020-10-16 13:06] haojinglu commented on #419
Have you tried docker deployments so far? I have set up the sever and client parts as well as a target database which is running in a container. However, the restart operation from DRIVER will kill the container thus cause an error.

[2020-10-16 17:01] bohanjason commented on #419
Thanks for your interests. I recommend to set up the server in docker, and run the driver on your local machine. Running driver in docker is not supported in this open source repo.

[2020-10-23 12:31] EtoDemerzel0427 opened #422 "Is the current support for ddpg end-to-end or does follow the same pipeline as GPR in OtterTune?"
Sorry that I didn't dive into the source code. I found your thesis proposal mentioned the DNN implementation follows the same pipeline as GPR in OtterTune, but didn't mention that in the section of DDPG. So does it means that it is identical to that in CDBTune, without performing any feature engineering, such as picking the most important metrics and knobs?

[2020-11-02 23:04] ToeiRei opened #423 "requirements.txt reference old tensorflow version"
[code]

[2020-11-03 00:25] dvanaken commented on #423
What Python version are you using? We support up to Python 3.6 and tensorflow 1.12.2 may not be available if you're running a newer version. You can try installing the package from the URL:
`pip3 install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.12.2-py3-none-any.whl`

But keep in mind you may run into more incompatibility issues if you're using Python >= 3.7.

[2020-11-03 09:04] ToeiRei commented on #423
I guess that is the problem as debian busters default python version is 3.7 - I did not look at that as I was expecting debian to be a bit older.

[2020-11-03 09:04] #423 closed, assigned to nobody

[2020-11-11 01:06] david-sail opened #424 "SQL rewrite advisor"
Many SQL programmers cannot write high-quality SQLs and it requires to rewrite the SQL queries advisor to improve the per- formance.   is there a plan to implement sql rewrite advisor

[2020-11-20 21:38] ToeiRei commented on #419
is there an official docker image somewhere?